@use "../abstract/variaveis";
@use "../abstract/mixins";


header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        } 

        ul {
            display: flex;
            gap: 2rem;
        }

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
            font-weight: 500;
        }
    }

    #home{
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: center;

        .textos-home {
            max-width: 464px;

            h1 {
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);
                line-height: 63px;
                font-weight: 400;
                margin-bottom: 2rem;

                span {
                    color: variaveis.$cor-secundaria;
                  }
            }

            .btn-main {
                width: 280px;
                height: 66px;
                border-radius: 40px;
                background: variaveis.$cor-secundaria;
                color: white;
                font-family: variaveis.$ft-textos;
                font-size: 1.3rem;
                font-weight: 600;
                border: none;
                cursor: pointer;
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
              }
          }

    }

}